.page {
	min-height: 100%;
	position: relative;
}

.header {
	width: 810px;
	height: 60px;
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 1px black;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24pt;
	font-weight: 800;
	color: darkblue;
	position: relative;
}

.localeButton {
	width: 60px;
	height: 30px;
	bottom: 0px;
	position: absolute;
	right: 0;
	font-size: 12pt;
	font-weight: normal;
}

.admin {
	font-size: 12pt;
	font-weight: bold;
	color: black;
	width: 250px;
	position: absolute;
	right: 0px;
	text-align: right;
	margin-right: 5px;
	top: 0px;
	margin-top: 10px;
}

.footer {
	width: 830px;
	border-top: solid 1px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 2px black;
	text-align: center;
	margin: 0 auto;
}

.content {
	width: 830px;
	border-width: 1px 2px;
	border-style: solid;
	border-color: #000;
	margin: 0px auto;
	min-height: 625px;
	overflow: hidden;
}

.menu {
	width: 202px;
	float: left;
	margin-top: 10px;
	background-color: lightgrey;
	border-top: 1px solid grey;
}

.innermenu {
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: white;
	padding-top: 10px;
	min-height: 140px;
}

.body {
	min-height: 750px;
	border: 1px solid #808080;
	position: relative;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 20px;
	width: 571px;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
	word-wrap: break-word;
}

#author {
	width: 170px;
	margin-left: 40px;
}

#multiselect {
	margin-left: 220px;
}

a:visited {
	color: #0000d0;
}

.navigation {
	width: 616px;
	text-align: center;
	line-height: 40px;
	background: #D3D3D3 none repeat scroll 0% 0%;
	position: absolute;
	bottom: 0px;
	margin-left: -25px;
}

.author {
	position: absolute;
	right: 400px;
}

#reset {
	position: relative;
	top: -23px;
	left: 330px;
}

#submit {
	left: 340px;
	top: -23px;
	position: relative;
}

.buttondelete {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 170px;
}

.link {
	text-decoration: none;
	/* Отменяем подчеркивание у ссылки */
}

input[type="button"]:disabled {
	background: black;
	color: white;
}

.filter {
	/* 	padding-top: 20px; */
	/* margin: 0px auto; */
	/* padding-bottom: 20px; */
	padding-bottom: 20px;
}

.postCommentButton {
	height: 50px;
}

.deleteButton {
	height: 40px;
	width: 80px;
}

input[type="submit"].saveButton {
	height: 40px;
	width: 80px;
}

/* checkboxes inside select */
.multiselect {
	width: 140px;
	margin-left: 295px;
	width: 140px;
	margin-top: -20px;
	position: relative;
	margin-left: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	z-index: -1;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #dadada;
}

.active {
	font-weight: bold;
}

.linkbuttons {
	background: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
}

#checkboxes {
	position: absolute;
	display: none;
	border-left: 2px solid #A7A3A3;
	z-index: 100;
	width: 137px;
	background-color: #FFF;
	overflow: auto;
	height: 320px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.submenu {
	display: none;
	padding-left: 20px;
}

.save {
	padding-left: 20px;
}

.highlight {
	border: 1px solid red;
	box-shadow: 0 0 5px red;
}

.error {
	color: red;
	text-size: 12 pt;
}

a.left {
	margin-left: -15px;
}

a.right {
	position: absolute;
	margin-right: 15px;
}

div.bottom {
	position: absolute;
	bottom: 0;
}

/* viewNews */
.news {
	width: 550px; //
	margin-left: 25px;
	margin: 0 25px 60px 10px;
}

.title {
	float: left;
}

.date {
	text-decoration: underline;
	text-align: right;
	padding-top: 0px;
}

.fullText {
	text-align: justify;
	clear: both;
}

.comment {
	width: 400px;
	text-align: justify;
	margin-left: 20px;
}

.commentText {
	background: grey;
	padding: 0px 0px 15px 5px;
}

.dateComment {
	text-decoration: underline;
	text-align: left;
	padding-top: 0px;
}

.buttonComment {
	text-align: right;
	margin: 10px 0;
}

.next {
	text-align: right;
	width: 565px;
}

.previous {
	float: left;
	text-align: left;
	width: 375px;
}
/*  end  */
.edit {
	padding-left: 15px;
	display: inline-block;
}

.submenu {
	display: none;
	padding-left: 30px;
}

/*  tags  */
span.itemName {
	display: inline-block;
	margin-right: 30px;
}

.item {
	margin-bottom: 30px;
}

.addItem {
	margin: 50px 0;
}

/*  end  */

/*  list news */
div.bottomPanel {
	text-align: right;
}

span.tags {
	color: grey;
	padding-right: 20px;
}

div.deleteNews {
	text-align: right;
	margin-right: 10px;
}
/*  end  */

/*  add update news */
.field {
	margin-bottom: 30px;
}

span.newsForm {
	display: inline-block;
	width: 80px;
}

.filterNews {
	padding: 30px 80px 0px;
}

div.saveButton {
	text-align: right;
	margin-right: 80px;
}
/*  end  */