.page {
	min-height: 100%;
	position: relative;
}

.header {
	width: 780px;
	height: 50px;
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 1px black;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24pt;
	font-weight: 800;
	color: darkblue;
	position: relative;
}

.localeButton {
	width: 60px;
	height: 30px;
	bottom: 0px;
	position: absolute;
	right: 0;
	font-size: 12pt;
	font-weight: normal;
}

.footer {
	width: 800px;
	border-top: solid 1px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 2px black;
	text-align: center;
	margin: 0 auto;
}

.content {
	width: 800px;
	border-top: solid 1px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 1px black;
	margin: 0 auto;
}

.body {
	min-height: 600px;
	margin: 10px;
	border: solid 1px grey;
	position: relative;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	word-wrap: break-word;
}

a:visited {
	color: #0000d0;
}

.navigation {
	height: 40px;
	width: 770px;
	text-align: center;
	line-height: 40px;
	margin: 0px 0px 5px -15px;
	background: lightgrey;
	position: absolute;
	bottom: 0;
}

.author {
	right: 450px;
	position: absolute;
}

.body input[type="reset"] {
	position: relative;
	top: -23px;
	left: 430px;
}

#submit {
	left: 440px;
	top: -23px;
	position: relative;
}

.link {
	text-decoration: none; 
}

input[type="button"]:disabled {
	background: black;
	color: white;
}

.filter {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px auto;
}

.postCommentButton {
	height: 50px;
}

/* checkboxes inside select */
.multiselect {
	width: 140px;
	margin: auto;
	left: 50px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	z-index: -1;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #dadada;
}

#checkboxes {
	position: absolute;
	display: none;
	border-left: 2px solid #A7A3A3;
	z-index: 100;
	width: 137px;
	background-color: #FFF;
	overflow: auto;
	height: 320px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

#reset {
	position: relative;
	top: -23px;
	left: 430px;
}

#submit {
	left: 440px;
	top: -23px;
	position: relative;
}

a.left {
	margin-left: -15px;
}

a.right {
	position: absolute;
	margin-right: 15px;
}

div.bottom {
	position: absolute;
	bottom: 0;
	height: 60px;
	left: 5px;
	width: 750px;
}


/*    news    */
div.news{
	margin-bottom: 40px;
}

div.view{
	margin: 20px;
}
div.title {
	float: left;
}
div.date {
	text-decoration: underline;
	text-align: right;
	padding-top: 0px;
}
div.text {
	margin: 10px 0px;
	clear: both;
}
div.fullText{
	text-align:justify;
	padding-right: 70px;
	clear: both;
}
div.bottomPanel {
	text-align: right;
}
span.tags {
	color: grey;
	padding-right: 20px;
}
span.comments {
	color: red;
	padding-right: 20px;
}

div.comment{
	width: 400px;
	text-align:justify;
	margin-left: 20px;
}
div.commentText{
	background: grey;
}
div.dateComment {
	text-decoration: underline;
	text-align: left;
	padding-top: 0px;
}
div.buttonComment{
	text-align: right;
	margin: 10px 0;
}
div.next{
	text-align: right;
	width: 750px;
}
div.previous{
	float: left;
	text-align: left;
	width: 375px;
}

/*   end   */
