.page {
	min-height: 100%;
	position: relative;
}

.header {
	width: 810px;
	height: 60px;
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 1px black;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24pt;
	font-weight: 800;
	color: darkblue;
	position: relative;
}

.localeButton {
	width: 60px;
	height: 30px;
	bottom: 0px;
	position: absolute;
	right: 0;
	font-size: 12pt;
	font-weight: normal;
}

.footer {
	width: 830px;
	border-top: solid 1px black;
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 2px black;
	text-align: center;
	margin: 0 auto;
}

.content {
	width: 830px;
	border-width: 1px 2px;
	border-style: solid;
	border-color: #000;
	margin: 0px auto;
	min-height: 625px;
	overflow: hidden;
}

.body {
	min-height: 750px;
	border: 1px solid #808080;
	position: relative;
	width: 810px;
	margin: 10px;
	word-wrap: break-word;
}

.loginform {
	width: 230px;
	height: 110px;
	left: 50%;
	margin-left: 289px;
	top: 50%;
	margin-top: 231px;
}

.submit {
	width: 115px;
	height: 35px;
}

a:visited {
	color: #0000d0;
}

.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}

span.loginForm {
	float: left;
	padding-right: 10px;
}

.login {
	padding: 5px 20px 0 115px;
}